# Ignora a pasta de dependências do Node.js
node_modules/

# Ignora pastas com gravações de testes do Cypress
cypress/screenshots/
cypress/videos/

# Ignora arquivos temporários
*.log
npm-debug.log*
.yarn-integrity

# Ignora configurações do VS Code
.vscode/
